{%extends 'jinja_forms.html'%}
{% block content %}
  {%include 'nav.html' %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Навчальні курси</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <hr>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for course in courses %}
          <div class="post-preview">
            <a href="{{ url_for('course', course_id=course['id']) }}">
              <h2 class="post-title">
                {{ course['title'] }}
              </h2>
              <h3 class="post-subtitle">
                {{ course['subtitle'] }}
              </h3>
            </a>
            <p class="post-meta">Posted by {{ course['posted_by'] }} on {{ course['day_posted'].strftime('%B %d, %Y') }} </p>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}